In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
df = pd.read_csv('US_Locations-0.csv')

In [4]:
target = df[df.ID == 'KORD']

In [ ]:
def compute_distance(row):
    np.linalg.norm(row.LATITUDE_COORDINATES - target.LATITUDE_COORDINATES, row.LONGITUDE_COORDINATES - - target.LATITUDE_COORDINATES)

In [5]:
target

,ID,STATION_NAME,STATE_CODE,COUNTRY_CODE,LATITUDE_COORDINATES,LONGITUDE_COORDINATES,TIME_ZONE,ELEVATION_IN_METERS
1480,KORD,Chicago - Chicago-O'Hare International Airport,IL,US,41.9786,-87.9048,America/Chicago,205.0